/*
Some global styles for our example web page.
*/

h1 {
    font-size: 5em;
}

a:link {
    color: #e06670;
    text-decoration: none;
}

a:visited {
    color: rgb(700, 500, 8);
    text-decoration: none;
}

a:hover {
    color: #00f5e0;
    text-decoration:bold;
    text-decoration-color: #5069bb;
}

a:active {
    color: #f88677;
    text-decoration: bold;
    text-decoration-color: #808543;
}

.nav a:link {
    color: rgb(500, 0, 0);
    text-decoration: bold;
}

.nav a:visited {
    color: rgba(213, 61, 193, 0.479);
    text-decoration: bold;
}